<%=stylesheet_link_tag 'new_post'%>
<div id = "post-div">
    <%= form_for(@new_post) do |f|%>
        <%=f.text_area(:body_text, placeholder: "What's happening #{current_user.name.split(" ")[0]}...")%>
        
        <%=f.submit "Post", class: "submit-post"%>
    <%end%>
</div>