#main-div{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

#form-div, #edit-form-div{
    grid-column: 2/3;
    justify-self: center;
    background-color: #fbfbfb;
    padding: 1em;
    box-shadow: 0px 2px 4px #bbb;
    border-radius: 5px;
    width: 70%;
    height: max-content;
    animation: "slide-up" 0.5s forwards;
}

#form-div{
    margin: -22.5em 0em 2em 0em;
}

#edit-form-div{
    margin: 2em 0em 2em 0em;
}

#form-div h2{
    text-align: center;
}

#form-div form{
    width: 100%;
}

#new_user input{
    margin: 0.5em 0em;
}

.name-field, .email-field, .password-field{
    width: 100%;
    background-color: #ebebeb;
    border: none;
    padding: 1em 1.2em;
    border-radius: 5px;
    transition: 0.2s ease;
}

.email-field:focus, .password-field:focus{
    box-shadow: 0px 2px 4px #bbb;
}

.back-btn{ 
    color: #888;
    text-decoration: none;
}

.submit-btn, .update-btn{
    border: none;
    background-color: #fb4f4f;
    color: #fbfbfb;
    width: 100%;
    padding: 0.7em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.submit-btn{
    font-size: 1.2em;
}

.update-btn{
    margin: 1em 0em;
}

.cancel-btn{
    border: none;
    background-color: #ddd;
    color: #888;
    padding: 0.7em;
    cursor: pointer;    
    transition: 0.2s ease;
}

.cancel-btn:hover{
    background-color: #bbb;
    color: #333;
}

.submit-btn:hover, .update-btn:hover{
    background-color: #E04646;
}


.p-link{
    text-align: center;
    color: #888;
}

.acct-help-link{
    color: #fb4f4f;
    text-align: center;
}

.acct-help-link:hover{
    color: #E04646;
}

.facebook{
    display: flex;
    background-color: #4267B2;
    justify-content: center;
    /* width: max-content; */
    color: #fbfbfb;
    padding: 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s ease;
}

.facebook:hover{
    background-color: #324E87;
}

.profile-picture{
    width: 180px;
    height: 180px;
    background-color: #fb4f4f;
    box-shadow: 0px 2px 4px #bbb;
}

#profile-field{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#profile-field input, #profile-field label{
    margin-right: auto;
}

@keyframes slide-up{
    0%{
        transform: translateY(60%);
    }

    100%{
        transform: translateY(0%);
    }
}