#find-friends{
    grid-area: friend;
    justify-self: start;
    width: 95%;
}

.add-friend, .comment-post, .cancel-friend{
    transition: 0.2s ease;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-friend, .cancel-friend{
    grid-column: 2/3;
    font-size: 0.75em;
    text-decoration: none;
    padding: 0.25em 0.5em;
    text-align: center;
}

.add-friend{
    margin: 0.5em 1em;
    border: 1px solid #fb4f4f;
    color: #fb4f4f;
}

.add-friend:hover{
    background-color: #fb4f4f;
    color: #fbfbfb;
}

#suggested-friends-div{
    background-color: #fbfbfb;
    margin: 0em 0em 0em 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #bbb;
}

.suggested-friend{
    padding: 1em 0.8em;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 10% 1fr;
    align-items: center;
}

.friend-request{
    margin: 0em 1em;
    display: grid;
    grid-template-columns: 0.85fr 0.5fr;
    align-items: center;
    width: 100%;
}

.message{
    color: #888;
    text-align: center;
}

.friend-name{
    width: 100%;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8em;
}