#user-profile-div{
    grid-area: user;
    background-color: #fbfbfb;
    margin: 2em 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #bbb;
}

.profile-pic-info{
    display: flex;
    align-items: center;
}

.user-profile-name h2{
    margin: 0em 0.75em;
}

.user-profile-name p{
    font-size: 0.5em;
    color: #888;
}

.user-profile-information h4{
    color: #888;
}

.user-profile-information{
    display: flex;
    justify-items: center;
    margin: 1em -6.5em 0em -6.5em;
}

.user-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}